*{
    padding:0;
    margin:0
}
.menu-box{
    position: fixed;
    top:0px;
    margin:0;
    padding:0;
}
.menu-name{
    position: relative;
}
.menu-title{
    float: left;
    width:70px;
    height:20px;
    text-align: center;
    list-style: none;
}
.menu-context{
    display: none;
    position: absolute;
    top:22px;
    width:200px;
    font-size: 16px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px #d6d6d6;
}
.menu-item{
    width:200px;
    list-style: none;
    height:30px;
}
.menu-item hr{
    border-top:1px solid black;
    border-bottom:none;
    width:100%;
}
.menu-item-left{
    float:left;
    width:120px;
    margin-left:10px;
    line-height: 30px;
}
.menu-item-right{
    float:right;
    width:50px;
    line-height: 30px;
    margin-right:10px;
}